<!-- Sidebar -->
<div class="col-md-2 col-lg-2">

<h4>Need help ?</h4> <p>Check our Facebook group</p>
    <a class="btn btn-info btn-block" href="https://www.facebook.com/groups/VidPenguinBetaGroup/" target="_blank"><i class="fa fa-facebook"></i> VidPenguin</a>
    <hr>
    <p>Prefer to email ?</p>
    <a class="btn btn-success btn-block" href="mailto:support@vidpenguin.com"><i class="fa fa-envelope-o"></i> support</a>
    <br>
    <a target="_blank" href="http://vidpenguin.com/Coaching" ><img src="/images/VidPenguinCoachingCalls.jpg" width="100%"></a>



</div>

<!-- Main -->


<div class="col-md-10 col-lg-10">
    <div class="state-overview">
<!-- Stats display -->
      <div class="col-md-4 col-xs-12">
<a href="/#/feeds">
          <div class="symbol terques">
            <i class="fa fa-rss"></i><div class="value"> <h1 class="length">{{ (feeds).length }}  </h1> Video Feeds</div>

          </div>
</a>
      </div>

      <div class="col-md-4 col-xs-12">

          <div class="symbol red">
            <i class="fa fa-video-camera"></i>

          <div class="value">
            <h1 class="length">{{ (links | filter:{ active: true}).length }}</h1>
            Links Pinged  </div>
          </div>

      </div>
      <div class="col-md-4 col-xs-12">
      <a href="/#/drip">
        <div class="symbol bluee">
          <i class="fa fa-coffee"></i>

          <div class="value">
            <h1 class="length">{{ (drips).length }}</h1>
            Social Starters Scheduled  </div>
        </div>

      </a>
      </div>
    </div>



    <br>
  <div class="col-md-12 col-lg-12">
    <div ng-show="!showT"> <h3>TITLE :: {{ feed.title }}&nbsp;&nbsp;<button ng-click="showT = !showT" class="btn btn-info pull-right"><i class="fa fa-pencil-square" aria-hidden="true"> Edit Title</i></button></h3><br>
    </div>
  </div>
  <div ng-show="showT">
    <div class="col-md-10 col-lg-10">
      <br>
    <div class="input-group">
      <span class="input-group-addon" id="addon1"><b>Title:</b></span>
      <input type="text" class="form-control" ng-model="feed.title" placeholder="Title of Video" >
    </div>
      <br>
      </div>
    <div class="col-md-2 col-lg-2">
      <br>
    <button ng-click="updateTitle(); showT = !showT" class="btn btn-warning pull-right"><i class="fa fa-pencil-square" aria-hidden="true"> Save Title</i></button>
      <br>
    </div>
    </div>

  <div class="col-md-5 col-lg-5"><img src="{{ feed.thumb }}" class="img-thumbnail img-responsive" uib-tooltip="{{ feed.title }}" width="100%"></div>

  <div class="col-md-7 col-lg-7 desc">
    <b>SUBMITTED FEED URL ::</b><A HREF="{{ feed.url }}" target="_blank"><br>{{ feed.url }}</A>
    <br>
    <b>FEED ID ::</b> {{ feed.$id }}<br>
    <b>FEED You Tube ID ::</b> {{ feed.v }}<br>
    <div class="showDesc" ng-hide="showD"><P><b>Description:</b> {{ feed.desc | limitTo:125}}...</P><button type="submit" ng-click="showD = !showD" class="btn btn-info tpad" uib-tooltip="Show entire description"><i class="fa fa-eye"> Edit Description</i></button></div>


    <div class="showDesc" ng-show="showD">
      <button type="submit" ng-click="showD = !showD" class="btn btn-warning tpad" uib-tooltip="Show entire description">
        <i class="fa fa-eye"> Update description</i></button>
      <span class="input-group-addon" id="addon2"><b>Feed Description:</b></span>
      <textarea ng-model="feed.desc" class="form-control" rows="1" msd-elastic></textarea>


    </div>
    </div>

  <!-- begin tabs -->

          <div class="col-md-12 col-lg-12 offset2">
            <uib-tabset active="active">
              <!-- Links tab -->
              <uib-tab index="0" heading="Links">
                <div id="equalheight" class="tab_back_we">

                  <div class="tab_title">
                    <h4>Feed Links</h4>
                  </div>

                <div class="link_display">

                  <div ng-repeat="link in links | filter:{ vid: feed.$id}" class="panel panel_link">
                    <div class="feed_link panel-heading" ng-click="show.links = !show.links" >LINK ID :: {{link.$id}}<i class="fa fa-external-link-square pull-right" aria-hidden="true">  Edit Link</i></div>

                    <!-- Links thumb -->

                    <div class="col-md-3 col-lg-3" ng-show="show.links" >
                      <img class="img-thumbnail img-responsive" uib-tooltip="{{link.title}}" width="100%" src="https://i.ytimg.com/vi/{{feed.v}}/mqdefault.jpg">
                      <button ng-click="links.$save(link)" class="btn btn-warning tpad"><i class="fa fa-hand-spock-o"> Update Link</i></button>
                      <button ng-click="links.$remove(link)" class="btn btn-danger tpad"><i class="fa fa-hand-spock-o"> Remove Link</i></button>
                    </div>

                    <div class="input-group">
                      <span class="input-group-addon" id="addon1"><b>Title:</b></span>
                      <input type="text" class="form-control" ng-model="link.title" placeholder="Title of Video" >
                    </div>
                    <div class="feed_link" ><i class="fa fa-youtube-play fa-lg"></i> <a href="{{link.url}}{{feed.v}}" target="_blank">{{link.url}}{{feed.v}} :: Click to watch</a></div>
                    <div class="iput_frame" ng-show="show.links">
                      <span class="input-group-addon" id="addon2"><b>Description:</b></span>
                      <textarea class="form-control" rows="1"  ng-model="link.desc" msd-elastic></textarea>
                    </div>
                  </div>

                  <p id="link_form"></p>
                  </div>

              </div>
              </uib-tab>

              <!-- Social Starter tab -->

              <uib-tab index="1" heading="Social Starter">
                <div id="equalheight" class="tab_back_we">
                  <div class="tab_title">
                    <h4>Social Starter</h4>
                  </div>
                     <div ng-repeat="drip in drips" class="panel panel_link" >
                       <div class="feed_link panel-heading">Social Starter ID :: {{drip.$id}}</div>

                    {{drip}}
                    </div>
                </div>
              </uib-tab>

              <!-- XML tab -->

              <uib-tab index="2" heading="XML">
                <div id="equalheight" class="tab_back_we">
                  <div class="tab_title"><h4>Raw Feed XML</h4></div>
                  </div>
              </uib-tab>

              <!-- JSON tab -->

              <uib-tab index="3" heading="JSON">
                <div id="equalheight" class="tab_back_we">
                  <div class="tab_title"><h4>Raw Feed JSON</h4></div>

                {{feed}}

                <hr>
                  <div class="tab_title"><h4>Raw Links JSON</h4></div>

                {{links}}</div>
              </uib-tab>


              </uib-tabset>



            </div>

        </div>
        </div>





