<!-- Sidebar -->
<div class="col-md-2 col-lg-2">



</div>

<!-- Main  -->
<div class="col-md-10 col-lg-10">


  <div class="panel">
    <!-- Syndwire  -->
    <div class="panel-heading">
      Syndwire
      <a target="_blank" class="btn btn-success btn-sm pull-right" href="http://web1.ontraport.net/t?orid=43582&amp;opid=85">Get an account here</a>

    </div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>

            <input type="text" class="form-control" placeholder="enter your account email for Syndwire" ng-model="sy_email" uib-tooltip="enter your account email for Syndwire">


          <div class="input-group-addon"><i class="fa fa-key"></i> </div>

            <input type="text" class="form-control" placeholder="enter your account password for Syndwire" ng-model="sy_  password" uib-tooltip="enter your account password for Syndwire ">

          </div>

          </div>

          <button class="btn btn-primary btn-sm pull-right">Add Syndwire Account</button>

      </form>
      <br>


    </div>
  </div>

  <div class="panel">
    <!-- BacklinksIndexer  -->
    <div class="panel-heading">
      BacklinksIndexer
      <a target="_blank" class="btn btn-success btn-sm pull-right" href="http://jvz2.com/c/11712/31395">Get an account here</a>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-code fa-lg"></i></div>
      <input type="text" class="form-control" placeholder="enter your account API Key for BacklinksIndexer" ng-model="bi_key" uib-tooltip="enter your account password for Syndwire ">

        </div>

    </div>
      <button class="btn btn-primary btn-sm pull-right">Add Syndwire Account</button>
    </div>
  </div>


  <div class="panel">
    <!-- LinkIndexr  -->
    <div class="panel-heading">
      LinkIndexr
      <a target="_blank" class="btn btn-success btn-sm pull-right" href="http://jvz6.com/c/11712/130787">Get an account here</a>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-code fa-lg"></i></div>
          <input type="text" class="form-control" placeholder="enter your account API Key for LinkIndexr" ng-model="li_key" uib-tooltip="enter your account password for Syndwire ">
        </div>
      </div>
      <button class="btn btn-primary btn-sm pull-right">Add Syndwire Account</button>
    </div>

  </div>


  <div class="panel">
    <!-- CrazyIndexer  -->
    <div class="panel-heading">
      CrazyIndexer

    </div>
    <div class="panel-body">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-code fa-lg"></i></div>
          <input type="text" class="form-control" placeholder="enter your account API Key for CrazyIndexer" ng-model="ci_key" uib-tooltip="enter your account password for Syndwire ">
        </div>
      </div>
      <button class="btn btn-primary btn-sm pull-right">Add CrazyIndexer Account</button>
    </div>

  </div>

</div>

