

<div class="col-md-2 col-lg-2 ">

  <p>This is the ping-feed view.</p>
</div>

<div class="col-md-10 col-lg-10">

  <h3>Send to Indexer</h3>
  <hr>
  <select class="form-control input-lg" multiple="" name="pingers[]">
    <option selected="" value="pinger-lp">LinkProcessor - Integrated</option>
    <option selected="" value="pinger-bli">BacklinksIndexer</option>
    <option selected="" value="pinger-ci">CrazyIndexer</option>
    <option selected="" value="pinger-li">LinkIndexr</option>
  </select>

  <div class="form-group btn-group pull-right">
    <input class="btn btn-warning" type="reset" value="Reset">
    <input class="btn btn-primary" type="submit" value="Submit">
  </div>

</div>
